@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

h1 {
    font-size: 54px;
    line-height: 68px;
    color: #222;
}

h2 {
    font-size: 48px;
    line-height: 56px;
    color: #222;
}

h4 {
    font-size: 24px;
    color: #222;
}

h6 {
    font-size: 15px;
    font-weight: 700;
    color: #222;
}

p {
    font-size: 16px;
    margin: 15px 0 20px 0;
    color: #465b52;
    line-height: 20px;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 4px;
    border: none;
    outline: none;
    color: #000;
    background-color: #fff;
    transition: 0.2s;
    cursor: pointer;
}

button.white {
    font-size: 15px;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 4px;
    border: 1px solid #fff;
    outline: none;
    color: white;
    background-color: transparent;
    transition: 0.2s;
    cursor: pointer;
}

body {
    width: 100%;
}

a {
    text-decoration: none;
}

/* ======================> Header start <=================== */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #e3e6f3;
    box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    padding: 0px 20px;
    position: relative;

}

.navbar ul li a {
    font-size: 18px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

.navbar ul li a:hover,
.navbar ul li a.active {
    color: #088178;
}

.navbar ul li a.active::after,
.navbar ul li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

/*======================== Main section <=============== */

.hero {
    background-image: url(img/hero4.png);
    height: 90vh;
    background-position: top 25% right 20%;
    display: flex;
    flex-direction: column;
    padding: 0px 80px;
    align-items: flex-start;
    justify-content: center;
    letter-spacing: 2px;
}

.hero h4 {
    padding-bottom: 15px;
}

.hero h1 {
    color: #088178;
}

.hero button {
    margin-top: 15px;
    font-weight: 700;
    font-size: 20px;
    background-image: url("img/button.png");
    background-color: transparent;
    color: #088178;
    border: 0;
    height: 50px;
    width: 215px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.feature {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feature .fe-box {
    width: 180px;
    padding: 25px 15px;
    text-align: center;
    border: 1px solid #cce7d0;
    border-radius: 4px;
    box-shadow: 20px 20px 34px rgb(0, 0, 0, 0.03);
    margin: 15px 0;
}

.feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

.feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgb(70, 62, 221, 0.1);
}

.feature .fe-box h6 {
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
    display: inline-block;
    letter-spacing: 1px;
}

.feature .fe-box:nth-child(2) h6 {
    background-color: #cdebbc;
}

.feature .fe-box:nth-child(3) h6 {
    background-color: #d1e8f2;
}

.feature .fe-box:nth-child(4) h6 {
    background-color: #cdd4f8;
}

.feature .fe-box:nth-child(5) h6 {
    background-color: #f6dbf6;
}

.feature .fe-box:nth-child(6) h6 {
    background-color: #fff2e5;
}

.product1 {
    text-align: center;
}

.product1 .pro-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product1 .pro {
    width: 23%;
    min-width: 250px;
    border: 1px solid #cce7d0;
    padding: 10px 12px;
    border-radius: 25px;
    box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.02);
    cursor: pointer;
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

.product1 .pro:hover {
    box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.06);
}

.product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

/* .product1 .pro img:hover{
    width: 102%;
    transition: .3s ease;
} */
.product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

.product1 .pro .des span {
    color: #606063;
    font-size: 14px;
}

.product1 .pro .des h5 {
    padding-top: 7px;
    font-size: 18px;
}

.product1 .pro .des h4 {
    color: #088178;
    padding-top: 5px;
}

.product1 .pro .des .star i {
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 6px;
    color: rgb(221 198 50);
}

.product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    font-weight: 500;
    background-color: #e8f6ea;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    right: 10px;
    bottom: 20px;
    transition: 0.2s;
}

.product1 .pro .cart:hover {
    background-color: #b2eea1;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url("img/banner/b2.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;

}

.banner h4 {
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
}

.banner h2 {
    color: #fff;
    ;
    font-size: 50px;
    left: 1px;
    padding: 10px 0;

}

.banner h2 span {
    color: #ef3636;
}

.banner button:hover {
    background-color: #088178;
    color: #fff;

}

.banner-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.banner-container .banner-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: url("img/banner/b17.jpg");
    min-width: 665px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

.banner-container .banner-box2 {
    background-image: url("img/banner/b10.jpg");
}

.banner-container .banner-box h4 {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.banner-container .banner-box h2 {
    color: #fff;
    font-size: 50px;
    font-weight: 500;
}

.banner-container .banner-box span {
    color: #fff;
    font-size: 20px;
    font-weight: 200;
    opacity: 0.8;
    padding-bottom: 15px;
}

.banner-container .banner-box:hover button {
    background-color: #088178;
    border: 1px solid #088178;
}

.banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 80px;
}

.banner3 .banner-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: url("img/banner/b7.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

.banner3 .banner-box2 {
    background-image: url("img/banner/b4.jpg");
}

.banner3 .banner-box3 {
    background-image: url("img/banner/b18.jpg");
}

.banner3 .banner-box h2 {
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.banner3 .banner-box h3 {
    color: #ec554e;
    font-size: 20px;
    font-weight: 800;
}

.news-letter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-image: url("img/banner/b14.png");
    background-color: #041e42;
    background-repeat: no-repeat;
    background-position: 20% 30%;
}

.news-letter .newstext h4 {
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 1px;
}

.news-letter .newstext p {
    font-size: 15px;
    font-weight: 600;
    color: #818ea0;
    letter-spacing: 1px;
}

.newstext p span {
    color: #ffbd27;
}

.news-letter .newsform {
    display: flex;
    width: 40%;
}

.news-letter input {
    height: 3.125rem;
    padding: 1.25em;
    width: 100%;
    font-size: 14px;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.news-letter button {
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

footer .column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .column .col {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .column .col img {
    margin-bottom: 20px;
}

footer .column .col p {
    margin: 0 0 8px 0;
}

footer .column .col h3 {
    margin-top: 15px;
    margin-bottom: 15px;
}

footer .column .col .icon i {
    /* padding: 10px 8px; */
    letter-spacing: 15px;
    transition: 0.2s;
    color: #465b52;
    cursor: pointer;
}

footer .column .col .icon i:hover {
    /* padding: 10px 8px; */
    color: #041e42;
}

footer .column .col a {
    margin: 10px 0;
    color: #000;
}

footer .column .col h4 {
    margin-bottom: 10px;
}

footer .column .col .row img {
    border: 1px solid #088178;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
}

footer .install img {
    margin-top: 20px;
}

footer .copy {
    text-align: center;
}

/* ==========> Shop Section <======= */
.page-header {
    background-image: url("img/banner/b1.jpg");
    height: 40vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 14px;
}

.page-header h2,
.page-header p {
    color: #fff;

}

.pagination {
    text-align: center;
}

.pagination a {
    padding: 15px 20px;
    background-color: #088178;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}





/* ==============> Single Product <============== */
.pro-details {
    display: flex;
    margin-top: 30px;
}

.pro-details .single-pro-img {
    width: 40%;
    margin-right: 50px;
}

.pro-details .single-pro-img .small-pro-group {
    display: flex;
    justify-content: space-between;

}

.small-pro-group .small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

.pro-details .single-pro-details {
    width: 50%;
    padding: 20px;
}

.pro-details .single-pro-details h4 {
    padding: 40px 0 20px 0;
}

.pro-details .single-pro-details h2 {
    font-size: 28px;
}

.pro-details .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 15px;
}

.pro-details .single-pro-details input {
    width: 50px;
    height: 40px;
    padding: 5px;
    font-size: 20px;
    margin-right: 10px;
    margin-bottom: 80px;
}

.pro-details .single-pro-details input:focus {
    outline: none;
}

.pro-details .single-pro-details button {
    background-color: #088178;
    color: #fff;
    height: 40px;
    margin-bottom: 80px;
}

.pro-details .single-pro-details p {
    line-height: 25px;
    font-size: 19px;
}



/* ===============> blog page <============ */

.blog-header {
    background-image: url("img/banner/b19.jpg");
}

.blog {
    padding: 150px 150px 0 150px;
}

.blog .blog-box {
    display: flex;
    align-items: center;
    padding-bottom: 90px;
}

.blog-box img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.blog .blog-box .blog-img {
    width: 50%;
    /* height: 30px; */
    margin-right: 40px;
    position: relative;
}

.blog .blog-box .blog-details {
    width: 50%;
}

.blog-details p {
    font-size: 22px;
}

.blog .blog-box .blog-details a {
    font-size: 14px;
    font-weight: 700;
    color: #333;
    position: relative;
    transition: 0.3s;
}

.blog .blog-box .blog-details a:hover {
    color: #088178;
}

.blog .blog-box .blog-details a::after {
    content: "";
    width: 50px;
    height: 1.3px;
    background-color: #000;
    position: absolute;
    top: 5px;
    right: -60px;

}

.blog .blog-box .blog-details a:hover::after {
    background-color: #088178;
}

.blog .blog-box .blog-img h1 {
    font-size: 70px;
    font-weight: 700;
    position: absolute;
    top: -40px;
    left: 0;
    color: #c9cbce;
    z-index: -1;
}




/* ===============> about page <============ */

.about-header {
    background-image: url("img/about/banner.png");
}

.about-hero img {
    width: 50%;
    height: auto;
}

.about-hero {
    display: flex;
    align-items: center;
}

.about-hero div {
    padding-left: 40px;
}

.about-hero div p {
    font-size: 18px;
}

.about-video {
    text-align: center;
}

.about-video .video {
    width: 70%;
    margin: 20px auto 0 auto;
}

.about-video .video video {
    width: 100%;
    height: auto;
    border-radius: 40px;
}










/* ===============> contact page <============ */
.address {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.address .details {
    width: 40%;
}

.address .details h2,
.contact .form h2 {
    font-size: 28px;
    line-height: 36px;
    padding: 20px 0;
}

.address .details h3 {
    font-size: 18px;
    margin-bottom: 25px;
}

.address .details li {
    list-style: none;
    display: flex;
    margin: 20px 0;
}

.address .details li i {
    font-size: 20px;
    padding: 0 10px;
}

.address .details li p {
    margin: 0;
}

.address .map {
    width: 55%;
    height: 400px;

}

.contact {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
    /* box-shadow: 10px 10px 20px rgb(0, 0, 0, 0.08); */
}

.contact .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 65%;
}

.contact .form input,
.contact .form textarea {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 12px;
    border: 1px solid #e1e1e1;

}

.contact .form input:focus,
.contact .form textarea:focus {
    outline: none;
}

.contact .form button {
    background-color: #088178;
    color: #fff;
}

.contact .member div {
    display: flex;
    align-items: center;
}

.contact .member div img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 10px;

}

.contact .member div p span {
    display: block;
    font-size: 18px;
    font-weight: 600;
}







/* ===============> cart page <============ */
.cart {
    overflow: auto;
}

.cart table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

.cart table img {
    width: 70px;
}

.cart table td:nth-child(1) {
    width: 100px;
    text-align: center;
}

.cart table td:nth-child(2) {
    width: 150px;
    text-align: center;
}

.cart table td:nth-child(3) {
    width: 250px;
    text-align: center;
}

.cart table td:nth-child(4),
.cart table td:nth-child(5),
.cart table td:nth-child(6) {
    width: 100px;
    text-align: center;
}

.cart table td:nth-child(5) input {
    width: 70px;
    padding: 10px 5px 10px 15px;
}

.cart table thead {
    border: 1px solid #b6bcb5;
    border-left: none;
    border-right: none;
}

.cart table thead td {
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    padding: 15px 0;
}

.cart table tbody td {
    padding-top: 15px;
    font-size: 16px;
}

.cart-details {
    display: flex;
    justify-content: space-between;
}

.cart-details .coupon {
    width: 45%;
}

.cart-details .coupon h2 {
    font-size: 28px;
}

.cart-details .coupon input {
    width: 50%;
    padding: 8px 10px 8px 10px;
    border: 1px solid #e1e1e1;
}

.cart-details .coupon button {
    background-color: #088178;
    color: #fff;
    white-space: wrap;
}

.cart-details .cart-total {
    width: 50%;
    padding: 20px 20px;
    border: 1px solid #e1e1e1;
}

.cart-details .cart-total h2 {
    font-size: 28px;
}

.cart-details .cart-total table {
    width: 100%;
    border-collapse: collapse;
}

.cart-details .cart-total table td {
    padding: 10px 10px;
    width: 50%;
    border: 1px solid #e1e1e1;
}

.cart-details .cart-total button {
    background-color: #088178;
    color: #fff;
    margin: 20px 0;
}












/* ==========> Midia Quert <======= */

@media (max-width:799px) {
    .section-p1 {
        padding: 40px 40px;
    }

    #navbar1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #fff;
        box-shadow: 0 40px 60px rgb(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: .3s;
    }

    #navbar1.active {
        right: 0px;
    }

    .navbar ul li {
        margin-bottom: 25px;
    }

    .navbar ul li a {
        font-size: 25px;
    }

    .mobile {
        display: flex;
        align-items: center;
    }

    .mobile i {
        font-size: 25px;
        color: #000;
        padding: 0 10px;
    }

    #close {
        display: inline;
        font-size: 28px;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #000;
    }

    #lg-bag {
        display: none;
    }

    .hero {
        background-position: top 25% right 40%;
    }

    .feature {
        justify-content: center;
    }

    .feature .fe-box {
        margin: 15px 15px;
    }

    .product1 .pro-container {
        justify-content: center;
    }

    .product1 .pro {
        margin: 15px 15px;
    }

    .banner {
        height: 20vh;
    }

    .banner-container .banner-box {
        min-width: 100%;
        height: 30vh;
    }

    .banner3 {
        padding: 0px 40px;
    }

    .banner3 .banner-box {
        width: 30%;
    }

    .news-letter .newsform {
        width: 70%;
    }

    .blog {
        padding: 150px 100px 0 100px;
    }

    /* contct page  */
    .contact {
        padding: 40px;

    }

    .contact .form {
        width: 50%;
    }










}


@media (max-width:650px) {
    .navbar ul li a {
        font-size: 18px;
    }

    .section-p1 {
        padding: 10px 20px;
    }

    .header {
        padding: 10px 20px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 25px;
    }

    .hero {
        padding: 0px 20px;
        height: 70vh;
        background-position: top 25% right 30%;
        /* background-position: 55%; */
        letter-spacing: 0px;
        /* justify-content: flex-end; */
    }

    .hero h4 {
        padding-bottom: 1px;
        padding-top: 220px;
    }

    .feature {
        justify-content: space-between;
        margin: 20px 0px;
    }

    .feature .fe-box {
        width: 160px;
        margin: 0px 0px 10px 0px;
        
    }

    .banner {
        height: 30vh;
    }

    .banner h2 {
        font-size: 30px;
    }

    .banner-container .banner-box {
        height: 40vh;
    }

    .banner3 {
        flex-direction: column;
        padding: 0px 20px;
    }

    .banner3 .banner-box {
        width: 100%;
    }

    .news-letter .newsform {
        width: 100%;
    }

    footer .copy {
        text-align: start;
    }


    /* Single page */

    .pro-details {
        display: flex;
        flex-direction: column;
    }

    .pro-details .single-pro-img {
        width: 100%;
        margin-right: 0px;
    }

    .pro-details .single-pro-details {
        width: 100%;
    }

    /* blog page */
    .blog {
        padding: 80px 20px 0 20px;
    }

    .blog .blog-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 90px;
    }

    .blog .blog-box .blog-img {
        width: 100%;
        margin-right: 0px;
        position: relative;
    }

    .blog .blog-box .blog-details {
        width: 100%;
    }

    /* about page  */
    .about-hero {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }

    .about-hero img {
        width: 90%;
        height: auto;
    }

    .about-hero div {
        padding-left: 0px;
    }

    h1 {
        font-size: 34px;
        line-height: 68px;
        color: #222;
    }

    .about-video .video {
        width: 100%;
        margin: 20px auto 0 auto;
    }

    /* Contact page  */
    .address {
        flex-direction: column;
    }

    .address .details {
        width: 100%;

    }

    .address .map {
        width: 100%;
        height: 230px;
    }

    .contact {
        flex-direction: column;
        padding: 20px;

    }

    .contact .form {
        width: 100%;
        margin-bottom: 25px;
    }

    /* cart page  */
    .cart-details {
        flex-direction: column;
    }
    .cart-details .coupon {
        width: 100%;
        margin: 20px 0 30px 0;
    }
    .cart-details .cart-total{
        width: 100%;
    }









}